.chats_top {
  background-color: #9052c4;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0.5vw 0.9vw;
  align-items: center;
}
.chats_top h2 {
  color: white;
  text-shadow: 1px 1px 6px black;
  font-size: xx-large;
}
.chats_top button {
  padding: 0.7vw 1.5vw;
  background-color: #3d1a5c;
  color: white;
  font-size: 1.4vw;
  text-shadow: 1px 1px 4px black;
  box-shadow: 1px 1px 4px black;
  border-radius: 0.4vw;
}
.chats_container {
  background-color: #3d1a5c;
  padding: 2.5vw 5vw;
  min-height: 100vh;
  background-color: #3d1a5c;
}
#create_grp_link {
  padding: 0.5vw 1.2vw;
  background-color: #9052c4;
  color: white;
  font-size: 1.4vw;
  text-shadow: 1px 1px 4px black;
  box-shadow: 0.2px 0.2px 6px black;
  border-radius: 0.4vw;
  margin-top: 20px;
}
.main_chats {
  background-color: #9052c4;
  padding:2vw;
  margin: 20px 0;
  border-radius: 6px;
  box-shadow: 5px;
}
.nochats{
   color: white;
    font-size: 1.5vw;
     text-align: center;
    text-shadow: 1px 1px 4px black;
}